---
const { lang } = Astro.params;
const certifications = await import(`../i18n/locales/${lang}/certifications.${lang}.json`).then(m => m.default);
---

<div class="mb-5">
  <div class="text-3xl w-full font-bold">
    {lang === "fr" ? "Certifications" : "Certifications"} {"<🧠>"}
  </div>
</div>

{certifications.map((section) => (
  <>
    <h2 class="text-2xl font-semi-bold">{section.title}</h2>
    <br />
    <ul class="list-disc mx-6 mb-10 grid gap-2">
      {section.items.map(item => (
        <li>
          <a href={item.link} target="_blank" rel="noopener noreferrer" set:html={item.label}></a>
        </li>
      ))}
    </ul>
  </>
))}