---
import { Image } from "astro:assets";

const azureLogo = "/portfolio/logos/azure_logo.svg";
const kubernetesLogo = "/portfolio/logos/kubernetes_logo.svg";
const gitlabLogo = "/portfolio/logos/gitlab_logo.svg";
const ansibleLogo = "/portfolio/logos/ansible_logo.png";
const terraformLogo = "/portfolio/logos/terraform_logo.svg";
const pythonLogo = "/portfolio/logos/python_logo.png";
const bashLogo = "/portfolio/logos/bash_logo.png";
const argoLogo = "/portfolio/logos/argo_logo.png";
---

<ul class="list-disc md:columns-4 columns-4 mx-6">
    <li class="flex sm:w-18 sm:h-18 md:w-32 md:h-32 items-center justify-center">
        <Image
        title="Azure"
        src={azureLogo}
        alt="azure_logo"
        height="100"
        width="100"
        />
    </li>
    
    <li class="flex sm:w-18 sm:h-18 md:w-32 md:h-32 items-center justify-center">
    <Image
        title="Kubernetes"
        src={kubernetesLogo}
        alt="kub_logo"
        height="110"
        width="110"
    />
    </li>

    <li class="flex sm:w-18 sm:h-18 md:w-32 md:h-32 items-center justify-center">
    <Image
        title="ArgoCD"
        src={argoLogo}
        alt="argo_logo"
        height="130"
        width="130"
    />
    </li>

    <li class="flex sm:w-18 sm:h-18 md:w-32 md:h-32 items-center justify-center">
    <Image
        title="Gitlab"
        src={gitlabLogo}
        alt="gitlab_logo"
        height="95"
        width="95"
    />
    </li>

    <li class="flex sm:w-18 sm:h-18 md:w-32 md:h-32 items-center justify-center">
    <Image
        title="Ansible"
        src={ansibleLogo}
        alt="ansible_logo"
        height="110"
        width="110"
    />
    </li>

    <li class="flex sm:w-18 sm:h-18 md:w-32 md:h-32 items-center justify-center">
    <Image 
        title="Terraform" 
        src={terraformLogo} 
        alt="terraform_logo" justify-cente
        height="90" 
        width="90" 
    />
    </li>

    <li class="flex sm:w-18 sm:h-18 md:w-32 md:h-32 items-center justify-center">
    <Image
        title="Python"
        src={pythonLogo}
        alt='py_logo"'
        height="100"
        width="100"
    />
    </li>

    <li class="flex sm:w-18 sm:h-18 md:w-32 md:h-32 items-center justify-center">
    <Image
        title="Bash"
        src={bashLogo}
        alt="bash_logo"
        height="105"
        width="105"
    />
    </li>
</ul>
