---
import { Image } from "astro:assets";

const azureLogo = "/portfolio/logos/azure_logo.svg";
const kubernetesLogo = "/portfolio/logos/kubernetes_logo.svg";
const dockerLogo = "/portfolio/logos/docker_logo.svg";
const postgresLogo = "/portfolio/logos/postgres_logo.svg";
const javaLogo = "/portfolio/logos/java_logo.svg";
const vueLogo = "/portfolio/logos/vue_logo.svg";
const pythonLogo = "/portfolio/logos/python_logo.svg";
const typescriptLogo = "/portfolio/logos/typescript_logo.svg";
---

<ul class="list-disc md:columns-4 columns-4 mx-6">
    <li class="flex justify-center">
        <Image
        title="Azure"
        src={azureLogo}
        alt="azure_logo"
        height="100"
        width="100"
        />
    </li>
    
    <li class="flex justify-center">
    <Image
        title="Kubernetes"
        src={kubernetesLogo}
        alt="kub_logo"
        height="100"
        width="100"
    />
    </li>

    <li class="flex justify-center">
    <Image
        title="Docker"
        src={dockerLogo}
        alt="docker_logo"
        height="115"
        width="115"
    />
    </li>

    <li class="flex justify-center">
    <Image
        title="Postgres"
        src={postgresLogo}
        alt="postgres_logo"
        height="95"
        width="95"
    />
    </li>

    <li class="flex justify-center">
    <Image
        title="Java"
        src={javaLogo}
        alt="java_logo"
        height="110"
        width="110"
    />
    </li>

    <li class="flex justify-center">
    <Image 
        title="Vue" 
        src={vueLogo} 
        alt="vue_logo" 
        height="110" 
        width="110" 
    />
    </li>

    <li class="flex justify-center">
    <Image
        title="Python"
        src={pythonLogo}
        alt='py_logo"'
        height="100"
        width="100"
    />
    </li>

    <li class="flex justify-center">
    <Image
        title="Typescript"
        src={typescriptLogo}
        alt="ts_logo"
        height="105"
        width="105"
    />
    </li>
</ul>
