---
import { Image } from "astro:assets";

import azureLogo from "@assets/logos/azure_logo.svg";
import kubernetesLogo from "@assets/logos/kubernetes_logo.svg";
import dockerLogo from "@assets/logos/docker_logo.svg";
import postgresLogo from "@assets/logos/postgres_logo.svg";
import javaLogo from "@assets/logos/java_logo.svg";
import vueLogo from "@assets/logos/vue_logo.svg";
import pythonLogo from "@assets/logos/python_logo.svg";
import typescriptLogo from "@assets/logos/typescript_logo.svg";
---

<div class="flex flex-col w-full lg:flex-row">
    <div
        class="grid flex-grow h-50 card bg-base-200 rounded-box place-items-center w-20"
    >
        <ul class="list-disc md:columns-2 columns-2 mx-6"></ul>
    </div>

    <div class="divider lg:divider-horizontal w-50"></div>

    <div
        class="grid flex-grow h-50 card bg-base-200 rounded-box place-items-center w-20"
    >
    </div>
</div>

<ul class="list-disc md:columns-4 columns-4 mx-6">
    <Image src={azureLogo} alt="azure_logo" height="100" width="100" />
    <Image src={kubernetesLogo} alt="kub_logo" height="100" width="100" />
    <Image src={dockerLogo} alt="docker_logo" height="115" width="115" />
    <Image src={postgresLogo} alt="postgres_logo" height="95" width="95" />
    <Image src={javaLogo} alt="java_logo" height="110" width="110" />
    <Image src={vueLogo} alt="vue_logo" height="110" width="110" />
    <Image src={pythonLogo} alt='py_logo"' height="100" width="100" />
    <Image src={typescriptLogo} alt="ts_logo" height="105" width="105" />
</ul>
