---
import { Image } from "astro:assets";

import azureLogo from "../assets/logos/azure_logo.svg";
import kubernetesLogo from "../assets/logos/kubernetes_logo.svg";
import dockerLogo from "../assets/logos/docker_logo.svg";
import postgresLogo from "../assets/logos/postgres_logo.svg";
import javaLogo from "../assets/logos/java_logo.svg";
import vueLogo from "../assets/logos/vue_logo.svg";
import pythonLogo from "../assets/logos/python_logo.svg";
import typescriptLogo from "../assets/logos/typescript_logo.svg";
---

<div class="flex flex-col w-full lg:flex-row">
    <div
        class="grid flex-grow h-50 card bg-base-200 rounded-box place-items-center w-20"
    >
        <ul class="list-disc md:columns-2 columns-2 mx-6"></ul>
    </div>

    <div class="divider lg:divider-horizontal w-50"></div>

    <div
        class="grid flex-grow h-50 card bg-base-200 rounded-box place-items-center w-20"
    >
    </div>
</div>

<ul class="list-disc md:columns-4 columns-4 mx-6">
    <Image
        title="Azure"
        src={azureLogo}
        alt="azure_logo"
        height="100"
        width="100"
    />
    <Image
        title="Kubernetes"
        src={kubernetesLogo}
        alt="kub_logo"
        height="100"
        width="100"
    />
    <Image
        title="Docker"
        src={dockerLogo}
        alt="docker_logo"
        height="115"
        width="115"
    />
    <Image
        title="Postgres"
        src={postgresLogo}
        alt="postgres_logo"
        height="95"
        width="95"
    />
    <Image
        title="Java"
        src={javaLogo}
        alt="java_logo"
        height="110"
        width="110"
    />
    <Image title="Vue" src={vueLogo} alt="vue_logo" height="110" width="110" />
    <Image
        title="Python"
        src={pythonLogo}
        alt='py_logo"'
        height="100"
        width="100"
    />
    <Image
        title="Typescript"
        src={typescriptLogo}
        alt="ts_logo"
        height="105"
        width="105"
    />
</ul>
